<header class="text-gray-600 shadow-md">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row justify-between p-5">
    <h2 routerLink="/" class="cursor-pointer text-gray-900 text-xl ml-0 md:ml-3 p-2 md:p-0">
      <span class="font-extrabold">Real</span> Acquisitions
    </h2>
    <div>
      <button routerLink="/auth/sign-in"
        class="bg-gray-200 focus:outline-none hover:bg-gray-300 border-0 rounded text-base py-1 px-3 mr-1">
        Signin
      </button>
      <button routerLink="/auth/sign-up"
        class="bg-gray-200 focus:outline-none hover:bg-gray-300 border-0 rounded text-base py-1 px-3">
        Signup
      </button>
    </div>
  </div>
</header>


<section class="container mx-auto p-24">
  <div class="text-center">
    <h1 class="text-4xl font-bold">Welcome to home page</h1>
  </div>
</section>


<footer class="text-gray-600" style="box-shadow: 0 -2px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
  <div class="container mx-auto flex justify-center md:flex-row p-5">
    <div class="text-gray-900 ml-0 md:ml-3 p-2 md:p-0">All right reserved by <span class="font-extrabold">Real</span> Acquisitions</div>
  </div>
</footer>
